@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body{
  font-family: 'Rajdhani', sans-serif;
}
.news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newsItem{
  flex: 1 1 25%;
}
.loading{
  height: 60vh;
}

.load{
  height: 60vh;
}

.skeleton{
  opacity: 0.6;
  animation: pulse 250ms linear infinite alternate;
}
.skeleton-img{
  width: 100%;
  height: 52.5%;
}
.skeleton-text{
  height: 0.5rem;
  width: 90%;
  margin-bottom: 0.85rem;
}
.skeleton-text:last-child{
  /* margin-bottom: 0; */
  width: 10%;
}
.skeleton-p{
  width: 100%;
  height: 0.25rem;
  margin-bottom: 1rem;
}
.skeleton-p:first-child{
  margin-top: 25% ;
}

@keyframes pulse{
  0%{
    background-color: #202020;
  }
  100%{
    background-color: #444;
  }

}